ignore-scripts=false
strict-peer-dependencies=false
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=@sentry/cli
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=msgpackr-extract
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=puppeteer
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=vue-demi
